

.container-fluid{
    background-color: aliceblue;
}

.scaffold{
    height:100vh;
    width: 100vw;
    display: flex;
    flex-flow: row;
}

menu {
    width:50px;
    height:100vh;
    background-color: blueviolet;
}

.main{
    width:100%;
    height:100vh;
}